{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="container mt-3">
        <article>
            <h1 class="text-muted py-3">{{pin.title}}</h1>
                <p>{{pin.description}}</p>
        </article>
        <a class="btn btn-primary" href=" {{path('pins.edit', {id:pin.id})}} ">Edit</a>
        <form class="d-inline-block" method="post" action="{{ path('pins.delete', {'id': pin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pin.id) }}">
            <button class="btn btn-danger">Delete</button>
        </form>



    </div>
{% endblock %}
